@using The.Apps.Game.Web.Resources
@model The.Apps.Game.Web.ViewModels.User.ChangePasswordViewModel

@{
    ViewBag.Title = Labels.User_Caption_ChangePassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@string.Format("{0} - {1}", Model.Name, Labels.User_Caption_ChangePassword)</h2>

<form class="form-horizontal" method="post" action="@Url.Action(MVC.Account.ChangePassword())">
    @Html.HiddenFor(m => m.DisplayName)
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.Name)
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @*@Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "login", disabled = "disabled" })*@
            <p class="form-control-static">@Model.Name</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "password", type = "password" })
            <br />
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PasswordConfirmed, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.PasswordConfirmed, new { @class = "form-control", placeholder = "password", type = "password" })
            <br />
            @Html.ValidationMessageFor(m => m.PasswordConfirmed)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OriginalPassword, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.OriginalPassword, new { @class = "form-control", placeholder = "password", type = "password" })
            <br />
            @Html.ValidationMessageFor(m => m.OriginalPassword)
        </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.CustomError))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.CustomError, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="alert alert-danger">@Model.CustomError</div>
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Html.ActionLink(Labels.Common_Back, MVC.Account.Edit(), new { @class = "btn btn-default" })
            <button type="submit" class="btn btn-success">@Labels.User_Action_ChangePassword</button>
        </div>
    </div>
</form>

