@using The.Apps.Game.Web.Resources
@model The.Apps.Game.Web.ViewModels.User.EditViewModel

@{
    ViewBag.Title = Labels.User_Caption_Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@string.Format("{0} - {1}", Model.Name, Labels.User_Caption_Edit)</h2>

<form class="form-horizontal" method="post" action="@Url.Action(MVC.Account.Edit())">
    @if (!string.IsNullOrWhiteSpace(Model.CustomError))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.CustomError, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="alert alert-danger">@Model.CustomError</div>
            </div>
        </div>
    }
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "login" })
                <br />
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email" })
                <br />
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DisplayName, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", placeholder = "nick" })
                <br />
                @Html.ValidationMessageFor(m => m.DisplayName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Country, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control", placeholder = "country" })
                <br />
                @Html.ValidationMessageFor(m => m.Country)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Sex, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EnumDropDownListFor(m => m.Sex, new { @class = "form-control"})
                <br />
                @Html.ValidationMessageFor(m => m.Sex)
            </div>
        </div>
    </fieldset>
    <fieldset>

    </fieldset>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Html.ActionLink(Labels.Common_Back, MVC.Home.Index(), new { @class = "btn btn-default" })
            @Html.ActionLink(Labels.User_Action_Details, MVC.Account.Details(), new { @class = "btn btn-default" })
            @Html.ActionLink(Labels.User_Action_ChangePassword, MVC.Account.ChangePassword(), new { @class = "btn btn-default" })
            <button type="submit" class="btn btn-success">@Labels.User_Action_Edit</button>
        </div>
    </div>
</form>

